<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Moderation Panel</title>
    <style>
        body {
            width: 100%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div style="width: 85%; margin: 0 7.5%;">
        <div style="padding-left: 50px; padding-right: 50px;">
            <h3>Moderation Report</h5>
                <table>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Count</th>
                    </tr>
                    <tr>
                        <td>Pending Posts</td>
                        <td><%=pendingCount%></td>
                    </tr>
                    <tr>
                        <td>Post Reports</td>
                        <td><%=postReports%></td>
                    </tr>
                    <tr>
                        <td>Comment Reports</td>
                        <td><%=commentReports%></td>
                    </tr>
                    <tr>
                        <td>Delete Post Requests</td>
                        <td><%=deletePostReqs%></td>
                    </tr>
                    <tr>
                        <td>Delete Comment Requests</td>
                        <td><%=deleteCommentReqs%></td>
                    </tr>
                    <tr>
                        <td>All Users</td>
                        <td><%=allUsers%></td>
                    </tr>
                    <tr>
                        <td>Muted Users</td>
                        <td><%=mutedUsers%></td>
                    </tr>
                </table>
        </div>
    </div>

    </div>

</body>

</html>