<!DOCTYPE html>
<html>
<head>
	<title>All User List</title>
	
</head>
<body>
	
	<a href="/home">Back</a>| 
	
	<h3>Create User</h3>

	<form method="post">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td>email</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>phonenumber</td>
				<td><input type="number" name="phonenumber"></td>
			</tr>
			<tr>
				<td>propic</td>
				<td><input type="text" name="propic"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Create"></td>
			</tr>
		</table>
	</form>
	
</body>
</html>
