<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>

</head>
<body>
	<h1>Welcome Home! <%= username %></h1> 

	<a href="/user/view_users">View Users</a>| 
	<a href="/user/create">Create User</a>| 
	
</body>
</html>
