<div class="profile-nav-menu mt-4">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; border: 1px solid transparent; border-radius: 10px;">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a href="/publisher/myprofile" class="nav-link">  <i class="fa fa-address-book"></i> General </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/publisher/myprofile/yourphotos"> <i class="fa fa-photo"></i> Your Photos </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/publisher/myprofile/editprofile"> <i class="fa fa-user"></i> Edit Profile</a>
        </li>

      </ul>
    </nav>
  </div>